canvas {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: rgb(17, 179, 17);
}
#mycanvas{
    display:table;
}
#grafico, #mult{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: white;
    width: 70%;
    height: 50%;
}
body {
    background: white;
}