canvas {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: rgb(17, 179, 17);
}
#mycanvas{
    display:table;
}
#arq{
    display:table;
    background:5pt blueviolet;
    border: 5px solid black;
}
#grafico, #mult{
    border: 5px solid black;
    border-radius: 2%;;
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: white;
    width: 70%;
    height: 50%;
}
body {
    background: white;
}